@import-normailize;
@import "helper";

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 692px) {
  body {
    font-family: $font-black;
    font-size: 16px;
    line-height: 1.2;
    color: #4c4c4c;
    max-width: 60vh;
    margin: 2px auto;
    background: #f6f6f6;
  }
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $font-black;
  font-size: 16px;
  line-height: 1.2;
  color: #4c4c4c;
  background: #f6f6f6;

}

button, input {
  font-family: inherit;
}

:focus {
  outline: none;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

